@model IEnumerable<BattleFight.Models.Torneo>
<h1>Torneos</h1>
<p>
    <a asp-action="Create">Crear Torneo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTorneo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ganador)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTorneo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ganador)
            </td>
            <td>
                    @Html.ActionLink("Enfrentamiento", "Fight", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
