@model IEnumerable<BattleFight.Models.Equipo>
<H1>Listado De Equipos</H1>
<p>
    <a asp-action="Create">Registrar Equipo</a>
</p>

<form asp-action="Index">
    <div>
        <label>Filtrar por categoria</label>
        <div class="mb-2">
            <label class="control-label"></label>
            <input name="EquipoBuscado" class="form-control" placeholder="Ingrese una categoria...">
            <span class="text-danger"></span>
        </div>
        <div class="mt-1">
            <input type="submit" value="Filtrar" class="btn btn-primary"/>
            <a asp-action="Index" value="Reiniciar Filtros" class="btn btn-info">reiniciar filtros</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
            <th>
                <label class="control-label">Nombre</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th><label>Opciones</label></th>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new {  id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
